<div *ngIf="productList.length">
    <table class="table table-striped">
        <thead>
            <th scope="col">Product</th>
            <th scope="col">Cost</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
        </thead>
        <tbody>
            <tr *ngFor="let product of productList">
                <td>{{ product.product }}</td>
                <td>{{ product.cost }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </tbody>
    </table>
</div>